@import '../styles.scss';


mat-sidenav-container{
    min-height: 100%;
    .navbar_material{
        justify-content: space-between;
        em{
            margin-left: 1rem;
            font-size: 0.5em;
        }
        .link_menu{
            cursor: pointer;
        }      
    }
    
    mat-sidenav{
        width: 200px;
        padding: 10px;

        mat-icon{
            margin-right: 5px;
        } 
    }
    mat-toolbar{
        img{
            height: 50px;
        }
    }

    .container_bloc{
        min-height: 87vh;
        // background:url("../assets/Logo.png") no-repeat;
        // background-size: cover;
    }
    
}    