<mat-sidenav-container>

    <mat-sidenav mode="over" [(opened)]= "opened">
        <mat-nav-list>
            <a mat-list-item routerLink="home"><i class="fas fa-shopping-basket mr-3"></i> Reserver </a>
            <a mat-list-item routerLink="eggs"><i class="fas fa-egg mr-3"></i> Mes Oeufs</a>
            <a mat-list-item routerLink="conseil"><i class="far fa-comment-dots mr-2"></i> Nos conseils</a>
            <a mat-list-item routerLink="backoff"><i class="far fa-building mr-2"></i> BackOff</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary" class="navbar_material">
            <div>Les Oeufs Bio de la Roque</div>
            <div>
                <span class="link_menu" (click)="opened=!opened">Menu</span>
            </div>
        </mat-toolbar>
        <div class="container_bloc"><router-outlet></router-outlet></div>

    </mat-sidenav-content>

</mat-sidenav-container>
