h2 {
    padding-top:50px;
}

.container-form {
    padding-top:50px;
    .full-width{
        width: 80%;
        max-width: 700px;
    }
    .full-widthB{
        width: 80%;
        max-width: 400px;
    }
    .mess_error{
        font-size: 0.7em;
        padding:0;
        width: 80%;
        max-width: 700px;
        margin:auto
    }
    .mess_errorB{
        font-size: 0.7em;
        padding:0;
        width: 80%;
        max-width: 400px;
        margin:auto
    }
    .btn_send_order{
        margin-top:50px;
    }
}